<section id="section">
<div class="centered">
  <section class="wrapper">
          <section class="split-item left-wrapper">
            <img id="landing-img-building" src="static/public/assets/building3.png" alt="building">
          </section>

          <section class="split-item right-wrapper">
            <a href="/static/public/assets/Neighbours_app.pdf" download="Neighbours_app.pdf"><h1>Neighbours PDF</h1></a>
          </section>
        </section>


    <!-- <h1>hi im a landing</h1> -->
  </div>
</section>
