<section id="section">
  <div class="centered">


    <section class="wrapper">
      <section class="split-item left-wrapper">
        <img id="landing-img-building" src="static/public/assets/building3.png" alt="building">
      </section>

      <section class="split-item right-wrapper">
        <div class="pa3 pa5-ns">
          <p class="f5 lh-copy measure-wide">
            I am re-building my portfolio website at the moment, so its a work in progress..<br> However, in the meantime you can dowload the PDF with a recent project I have been
            working on (Neighbours app).<br><br>

            Also, do check my github and Linkeding (links below) for more information about me and I would be delighted to meet you in person and show you more if you are interested :)
            <br><br>
            Feel free to <a href="/contact">contact me!</a>
          </p>
        </div>
        <a href="/static/public/assets/Neighbours_app.pdf" download="Neighbours_app.pdf"><h1>Neighbours PDF</h1></a>
      </section>
    </section>

  </div>
</section>
