html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, form {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

a {
  text-decoration: none; }

body {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  min-height: 100%; }

h1 {
  text-align: center;
  font-family: "Lato", sans-serif; }

h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Lato", sans-serif; }

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato", sans-serif; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

.not-found {
  color: #7262C9; }

#section {
  display: block;
  padding-top: 15px; }

.centered {
  margin: auto;
  padding: 0 50px;
  max-width: 1410px; }

.wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .wrapper .split-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%; }
  .wrapper .left-wrapper {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }
  .wrapper .right-wrapper {
    height: 280px;
    padding-top: 30%; }
    .wrapper .right-wrapper .pa5-ns {
      padding: 6rem; }
    .wrapper .right-wrapper a {
      color: #7262C9; }

#form_section {
  display: block;
  padding-top: 10%; }

.centered {
  padding-top: 15%;
  margin: auto;
  padding: 0 50px;
  max-width: 1410px; }
  .centered form {
    display: table;
    margin: 33px auto; }
    .centered form label {
      position: relative;
      display: block; }
      .centered form label input, .centered form label textarea {
        font: 18px Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        display: block;
        border: none;
        padding: 20px;
        width: 500px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        transition: all 0.2s ease-in-out; }
        .centered form label input::placeholder, .centered form label textarea::placeholder {
          transition: all 0.2s ease-in-out;
          color: #999;
          font: 18px Helvetica, Arial, sans-serif; }
        .centered form label input:focus, .centered form label input.populated, .centered form label textarea:focus, .centered form label textarea.populated {
          padding-top: 28px;
          padding-bottom: 12px; }
          .centered form label input:focus::placeholder, .centered form label input.populated::placeholder, .centered form label textarea:focus::placeholder, .centered form label textarea.populated::placeholder {
            color: transparent; }
          .centered form label input:focus + span, .centered form label input.populated + span, .centered form label textarea:focus + span, .centered form label textarea.populated + span {
            opacity: 1;
            top: 10px; }
      .centered form label span {
        color: #7262C9;
        font: 13px Helvetica, Arial, sans-serif;
        position: absolute;
        top: 0px;
        left: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out; }
    .centered form input[type="submit"] {
      transition: all 0.2s ease-in-out;
      font: 18px Helvetica, Arial, sans-serif;
      border: none;
      background: #7262C9;
      color: #fff;
      padding: 16px 40px; }
      .centered form input[type="submit"]:hover {
        cursor: pointer;
        background: #fff;
        border: 1px solid #7262C9;
        color: #7262C9; }

#about-page {
  display: block;
  padding-top: 2%; }

.image {
  max-width: 30em;
  margin-top: 33px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; }

.centered {
  margin: auto;
  padding: 0 50px;
  max-width: 1410px; }

a {
  color: #7262C9; }

.nav {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100px; }

.footer {
  bottom: 0px;
  margin-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
