#about-page {
  display: block;
  padding-top: 2%;

}

.image {
  max-width: 30em;
  margin-top: 33px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.centered {
  margin: auto;
  padding: 0 50px;
  max-width: 1410px;
}

a {
  color: #7262C9;
}
